* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

section {
  margin: 5rem 0; }

header {
  position: relative;
  background: url(../images/banner_img.png) center/cover no-repeat;
  padding: 10rem 1rem;
  text-align: center; }
  header .header-content {
    font-family: 'Sintony', sans-serif; }
    header .header-content h1 {
      font-size: 1.4rem;
      padding: 3rem;
      text-transform: uppercase;
      color: whitesmoke;
      background-color: #63c6ae; }
    header .header-content p {
      color: whitesmoke;
      padding: 3rem;
      background-color: #242a2c; }
    header .header-content button {
      text-transform: uppercase;
      background: none;
      border: 2px solid whitesmoke;
      color: whitesmoke;
      padding: 1rem 2rem;
      margin-top: 3rem;
      border-radius: 4px;
      outline: none; }
      header .header-content button:hover {
        background-color: rgba(0, 0, 0, 0.5); }
    header .header-content .up-arrow {
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 3rem;
      height: 3rem;
      background-color: white;
      transform: rotate(45deg); }

#hero-slider {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden; }
  #hero-slider .hero-deck {
    overflow: hidden;
    text-align: left; }
    #hero-slider .hero-deck .hero-card {
      display: none;
      color: grey;
      font-family: 'Sintony', sans-serif; }
      #hero-slider .hero-deck .hero-card div {
        position: relative; }
        #hero-slider .hero-deck .hero-card div img:first-child {
          width: 100%;
          filter: opacity(0.4); }
        #hero-slider .hero-deck .hero-card div img:last-child {
          position: absolute;
          left: 50%;
          bottom: -3rem;
          transform: translateX(-50%);
          width: 8.5rem;
          height: 8.5rem;
          border-radius: 50%;
          border: 3px solid lightgrey; }
      #hero-slider .hero-deck .hero-card h3 {
        margin: 0;
        padding: 5rem 1rem 2.5rem 3rem;
        border-left: 1px solid lightgrey; }
      #hero-slider .hero-deck .hero-card p {
        font-size: 1.3rem;
        margin: 0 0 2rem 0;
        padding: 0 3rem 3rem 3rem;
        border-left: 1px solid lightgrey; }
    #hero-slider .hero-deck .selected {
      display: block; }
      #hero-slider .hero-deck .selected div,
      #hero-slider .hero-deck .selected h3,
      #hero-slider .hero-deck .selected p {
        border-left: 7px solid #63c6ae;
        border-right: 7px solid #63c6ae;
        color: #63c6ae; }
      #hero-slider .hero-deck .selected div {
        border-top: 7px solid #63c6ae; }
        #hero-slider .hero-deck .selected div img:first-child {
          filter: opacity(0.75); }
        #hero-slider .hero-deck .selected div img:last-child {
          border: 4px solid #63c6ae; }
      #hero-slider .hero-deck .selected p {
        border-bottom: 7px solid #63c6ae; }
  #hero-slider .hero-nav {
    margin: 5rem auto 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    #hero-slider .hero-nav .dot {
      line-height: 100%;
      display: inline-block;
      margin: 0 0.3rem;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: lightgray; }
    #hero-slider .hero-nav .dot-selected {
      width: 1.5rem;
      height: 1.5rem;
      border: 2px solid darkgrey; }
    #hero-slider .hero-nav .hero-left {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      border-left: 1px solid grey;
      border-bottom: 1px solid grey;
      transform: rotate(45deg); }
    #hero-slider .hero-nav .hero-right {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      border-left: 1px solid grey;
      border-bottom: 1px solid grey;
      transform: rotate(-135deg); }

#image-slider {
  background-color: #242a2c;
  padding: 8vw 0;
  text-align: center;
  position: relative; }
  #image-slider .left-arw {
    position: absolute;
    top: 50%;
    left: 3%;
    width: 2rem;
    height: 2rem;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(45deg) translateY(-50%);
    cursor: pointer; }
  #image-slider .right-arw {
    position: absolute;
    top: 50%;
    right: 4%;
    width: 2rem;
    height: 2rem;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: translateY(-50%) rotate(-135deg);
    cursor: pointer; }
  #image-slider div:not([class*='-arw']) {
    display: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    #image-slider div:not([class*='-arw']) img {
      width: 70vw;
      -o-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none; }
  #image-slider .visible {
    display: block !important; }

#quote-slider {
  background-color: #63c6ae;
  padding: 4rem 0;
  text-align: center;
  position: relative; }
  #quote-slider .quote-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 3%;
    background-color: rgba(0, 0, 0, 0.15);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer; }
    #quote-slider .quote-left .arrow {
      width: 1rem;
      height: 1rem;
      border-left: 1px solid whitesmoke;
      border-bottom: 1px solid whitesmoke;
      transform: rotate(45deg); }
  #quote-slider .quote-content {
    text-align: center;
    color: whitesmoke;
    width: 70vw;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif; }
    #quote-slider .quote-content div {
      display: none; }
      #quote-slider .quote-content div p {
        margin: 2rem 0; }
    #quote-slider .quote-content .visible {
      display: block; }
  #quote-slider .quote-nav {
    margin: 5rem auto 0 auto; }
    #quote-slider .quote-nav .quote-dot {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 2px solid whitesmoke;
      margin: 0 1rem; }
    #quote-slider .quote-nav .quote-dot-selected {
      background-color: whitesmoke; }
  #quote-slider .quote-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 3%;
    background-color: rgba(0, 0, 0, 0.15);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer; }
    #quote-slider .quote-right .arrow {
      width: 1rem;
      height: 1rem;
      border-right: 1px solid whitesmoke;
      border-top: 1px solid whitesmoke;
      transform: rotate(45deg); }

footer .gallery-title {
  background-color: #63c6ae;
  padding: 2rem 0 2rem 15vw;
  color: whitesmoke;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Sintony', sans-serif; }
footer .gallery {
  background-color: #242a2c;
  overflow: hidden;
  font-family: 'Sintony', sans-serif; }
  footer .gallery div {
    position: relative;
    overflow: visible; }
    footer .gallery div:hover .hover {
      visibility: visible; }
    footer .gallery div .hover {
      visibility: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
      width: 108%;
      transform: translateX(-4%) translateY(4%);
      background-color: #242a2c;
      padding: 3rem 3rem;
      color: whitesmoke;
      text-align: left;
      box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.4); }
      footer .gallery div .hover span {
        font-size: 1rem;
        color: #63c6ae; }
        footer .gallery div .hover span:last-child {
          float: right;
          color: whitesmoke; }
    footer .gallery div img {
      width: 100%; }

.rwd {
  float: left;
  width: 50%; }

@media screen and (min-width: 376px) {
  header .header-content {
    text-align: center; }
    header .header-content h1 {
      font-size: 1.8rem;
      max-width: 540px;
      margin: 1rem auto; }
    header .header-content p {
      width: 70vw;
      max-width: 440px;
      margin: 0 auto; }

  #hero-slider .hero-deck {
    display: flex;
    justify-content: center; }
    #hero-slider .hero-deck .hero-card {
      max-width: 40rem; }

  .rwd {
    width: 33.3%; } }
@media screen and (min-width: 768px) {
  header .header-content h1 {
    font-size: 2.2rem; }

  #image-slider .left-arw {
    left: 7%; }
  #image-slider .right-arw {
    right: 7%; }

  #quote-slider .quote-left {
    left: 7%; }
  #quote-slider .quote-right {
    right: 7%; }

  .rwd {
    width: 25%; } }
@media screen and (min-width: 992px) {
  #hero-slider .hero-deck .hero-card {
    display: block; }
  #hero-slider .hero-nav .dot {
    width: 1.5rem;
    height: 1.5rem; }
  #hero-slider .hero-nav .dot-selected {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 4px; }
  #hero-slider .hero-nav .hero-left,
  #hero-slider .hero-nav .hero-right {
    width: 2.5rem;
    height: 2.5rem; }

  .rwd {
    width: 16.6%; } }
@media screen and (min-width: 1600px) {
  section {
    margin: 10rem 0; }

  #hero-slider .hero-deck {
    display: flex;
    justify-content: center; }
    #hero-slider .hero-deck .hero-card h3 {
      font-size: 3rem; }
    #hero-slider .hero-deck .hero-card p {
      font-size: 1.5rem; }

  #quote-slider .quote-content div h3 {
    font-size: 4.5rem; }
  #quote-slider .quote-content div p,
  #quote-slider .quote-content div span {
    margin: 4rem;
    font-size: 2rem; }
  #quote-slider .quote-nav .quote-dot {
    width: 2rem;
    height: 2rem; } }
@media screen and (min-width: 1920px) {
  header .header-content h1 {
    font-size: 3rem;
    max-width: 800px; }
  header .header-content p {
    font-size: 2.3rem;
    max-width: 700px; }
  header .header-content button {
    padding: 2rem 4rem;
    font-size: 2rem; } }
